.image {
  opacity: 1;
  display: block;
  width: auto;
  height: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    margin-top: -300px;
    margin-left: 30px;
    text-align: center;
}

.container:hover .image {
  opacity: 0;
}

.container:hover .middle {
  opacity: 1;
}
